@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  outline: none;
}
h1 {
  color: var(--white-color);
  font-weight: bolder;
  font-size: 2.8rem;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 10px;
}
:root {
  --primary-color: #ea7070;
  --secondary-color: #40005d;
  --white-color: #fff;
  --light-color: #4b4b4b;
  --dark-color: #212529;
}
